<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/output.css" rel="stylesheet" />
        <title>TechyBlog</title>
  </head>
    <body class="text-xl bg-amber-100">
        <nav class="p-24 bg-orange-400" style="padding: 1.5rem 10rem">
        <a
            class="m-3 font-medium text-amber-100"
            href="/"
            type="button"
            id="homeBtn"
        >
            HOME
        </a>
        <a
            class="m-3 font-medium text-amber-100"
            href="/dashboard"
            type="button"
            id="deshboardBtn"
        >
            DASHBOARD
        </a>
        {{#if logged_in}}
        <a
            class="m-3 font-medium text-amber-100"
            href="/"
            type="button"
            id="logout"
        >
            LOGOUT
        </a>
            {{else}}
        <a
            class="m-3 font-medium text-amber-100"
            href="/login"
            type="button"
            id="login"
        >
            LOGIN
        </a>
            {{/if}}   

        <main class="">
        <!-- Render the sub layout -->
        {{{ body }}}
        </main>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    </body>
</html>
