<!-- HOMEPAGE -->
<h1
    class="p-2 m-3 text-3xl font-bold text-orange-500 rounded-lg bg-amber-100 drop-shadow-xl max-w-max"
    >
    The Techy Blog
</h1>
</nav>
<!-- LOGIN -->
    <div class="px-10 py-3" style="margin: 0 8rem">
        <article class="m-2 my-4 border-4 border-orange-300 border-solid">
            <div class="flex p-2 m-2 bg-orange-400 text-amber-100">
            <p class="font-bold">Login</p>
            </div>
            <p class="p-3 text-orange-700">
            Username
            <input
                type="email"
                id="email-login"
                class="block text-2xl border-2 border-orange-300 border-solid"
            />
            </p>
            <p class="p-3 text-orange-700">
            Password
            <input
                type="password"
                id="password-login"
                class="block text-2xl border-2 border-orange-300 border-solid"
            />
            </p>
            <button
            type="button"
            class="p-2 px-3 m-3 font-medium bg-orange-400 rounded-lg text-amber-100"
            >
            Login!
            </button>
            <a href="/signup" class="p-3 text-orange-700">Sign Up instead</a>
        </article>
    </div>

<script src="./js/login.js"></script>
