<!-- DASHBOARD -->
    <h1
    class="p-2 m-3 text-3xl font-bold text-orange-500 rounded-lg bg-amber-100 drop-shadow-xl max-w-max"
    >
    Your Dashboard
    </h1>
</nav>
<!-- CREATE NEW POST-->
<div class="px-10 py-3" style="margin: 0 8rem">
    <article class="m-2 my-4 border-4 border-orange-300 border-solid">
    <div class="flex p-2 m-2 bg-orange-400 text-amber-100">
        <p class="font-bold">Create New Post</p>
    </div>
    <p class="p-3 text-orange-700">
        Title
        <input
        type="text"
        id="postTitle"
        class="block text-2xl border-2 border-orange-300 border-solid"
        />
    </p>
    <p class="p-3 text-orange-700">
        Content
        <textarea
        type="text"
        cols="30"
        id="blog_post"
        rows="4"
        class="block text-2xl border-2 border-orange-300 border-solid"
        ></textarea>
    </p>
    <button
        type="button" id="send"
        class="p-2 px-3 m-3 font-medium bg-orange-400 rounded-lg text-amber-100"
    >
       <a href="/dashboard">Create</a> 
    </button>
    </article>
</div>

<script src="./js/newPost.js"></script>